/* RoundedCard.css */

.rounded-card {
    border-radius: 25px;
    margin-bottom: 2vh;
    margin-right: 1vw;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
  }
  
  .rounded-card-sm {
    width: 30vw;
    height: 39vh;
  }
  
  .rounded-card-md {
    width: 40vw;
    height: 39vh;
  }
  
  .rounded-card-lg {
    width: 60vw;
    height: 39vh;
  }
  
  .rounded-card-xl {
    width: 80vw;
    height: 39vh;
  }
  
  .rounded-card-xxl {
    width: 100vw;
    height: 80vh;
  }
  
  .card-text {
    color: white;
    font-size: 3.5rem;
    padding: 1rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }
  